:host {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  height: 100vh;
}

.main-chat-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid red;
  min-width: 70%;
}

app-chats-controller {
  display: flex;
  flex-direction: column;
  min-width: 20%;
  max-width: 30%;
}

.btn {
  width: 100%;
  padding: 0.8rem 2rem;
  background-color: var(--blue-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--darker-blue-color);
}
