.btn {
  width: 100%;
  padding: 0.8rem 2rem;
  background-color: var(--blue-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--darker-blue-color);
}
