<section class="container">
	<div class="logo-container">
		<img src="icons/logo.png" alt="DevTeams" class="logo" />
		<h1 class="title">DevTeams</h1>
	</div>
</section>

<!-- Only render this if there's an authenticated user -->
<ng-container *ngIf="authenticator.route === 'authenticated'">
Welcome back!
</ng-container>

<!-- Render sign-in screen otherwise with authenticator -->
<ng-container *ngIf="authenticator.route !== 'authenticated'">
	<amplify-authenticator
		[loginMechanisms]="['email']"
		[formFields]="formFields"
		[signUpAttributes]="['name']">
	</amplify-authenticator>
</ng-container>