<div class="messages">
<ul *ngFor="let message of messages | async">
  @if(isInviteMessage(message)) {
    <app-team-invite-message [inviteId]="getTeamInviteId(message.messageText ?? '') ?? -1" [message]="message.messageText ?? ''" />
  } @else {
    <li [ngClass]="message.isCurrentUser ? 'msg-sender' : 'msg-receiver'">
      <em>{{ message.displayName }}</em>
      <p>{{ message.messageText }}</p>
      <footer>{{ message.sentAt | asTimeAgo }}</footer>
    </li>
  }
</ul>
</div>

<div class="enter-msg">
  <app-chat-input [chatId]="chatId" (onMessageSent)="onMessageSent($event)" />
</div>