:host {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

ul {
  list-style-type: none;
}

.msg-sender p {
  background-color: black;
  color: wheat;
}

/* TODO: update to use global colours */
.msg-receiver p {
  background-color: wheat;
  color: black;
}